@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dotFlashing {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '.';
    }
}

.typing-indicator::after {
    content: '';
    animation: dotFlashing 1s infinite;
}

html,
body,
:root {
    height: 100%;
    background-color: lightgray;
}
